.mask-inference::before {
	display: inline-block;
	text-align: center;
	content: "";
	width: 100px;
}

.mask-inference.female::before {
	content: "🙋‍♀️ ";
}

.mask-inference.male::before {
	content: "🙋‍♂️ ";
}
