body {
	color: white;
	background-color: black;
	font-family: "Open Sans", "Lucida Grande", sans-serif;
	font-size: 18px;
}

h1,
h2 {
	font-family: "Futura", "Lucida Grande", sans-serif;
	font-weight: bold;
}

ol {
	padding: 0px;
	list-style: none;
}

form {
	margin-bottom: 20px;
}

button {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
