body {
	color: white;
	background-color: black;

	font-family: "Open Sans", "Lucida Grande", sans-serif;
	font-size: 18px;
}

h1,
h2 {
	font-family: Futura, "Lucida Grande", sans-serif;
	font-weight: bold;
}

ol {
	list-style: none;
}

form {
	margin-bottom: 20px;
}
